body{
    width: 500px;
    margin: 0 auto;
}


header p{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

   
    
   


/*-----------------------*/
.box1{
    padding-bottom: 30px;
}

.text1{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
}
.text1 a:hover{
    color: lightgray;
    transition: all .5s;
    
}

.box1 img{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 2;
    border-radius: 30%;
  
}

.text1 ul li{
    color: rgb(189, 35, 163)
}
.subText1{
     margin-left: 50px;
}
/*---------------원영----------------*/

.box2{
    padding-bottom: 30px;
}

.text2{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
    background-color: pink;
}

.text2 a:hover{
    color: lightgray;
    transition: all .5s;
    
}

.box2 img{
    width: 300px;
    height: 300px;
    position: relative;
    left: 300px;
    z-index: 2;
    border-radius: 30%;
  
}

.text2 ul li{
    color: rgb(100, 77, 81);
}
.subText2{
     margin-left: 50px;
}

.box3{
    padding-bottom: 30px;
}

.text3{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
}

.box3 img{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 2;
    border-radius: 30%;
  
}

.text3 ul li{
    color: rgb(189, 35, 163)
}
.subText3{
     margin-left: 50px;
}

.box3{
    padding-bottom: 30px;
}

.text3{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
    background-color: rgb(229, 243, 255);
}
.text3 a:hover{
    color: lightgray;
    transition: all .5s;
    
}

.box3 img{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 30%;
    z-index: 2;
  
}

.text3 ul li{
    color:rgba(245, 176, 27, 0.822);
}
.subText3{
     margin-left: 50px;
}
/*----------조유리-----------*/
.box4{
    padding-bottom: 30px;
}

.text4{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
}



.text4 ul li{
    color: rgb(189, 35, 163)
}
.subText4{
     margin-left: 50px;
}

.box4{
    padding-bottom: 30px;
}

.text4{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
    background-color: pink;
}

.box4 img{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 30%;
    z-index: 2;
  
}

.text4 a:hover{
    color: lightgray;
    transition: all .5s;
    
}

.text4 ul li{
    color:white
}
.subText4{
     margin-left: 50px;
}
/*--------------------최예나----------*/
.box5{
    padding-bottom: 30px;
}

.text5{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
}



.text5 ul li{
    color: rgb(189, 35, 163)
}
.subText5{
     margin-left: 50px;
}

.box5{
    padding-bottom: 30px;
}

.text5{
    border: 1px solid black;
    padding: 30px;
    position:relative;
    top:-30px;
    left: 50px;
    z-index: 1;
    background-color: azure;
   
}

.text5 a:hover{
    color: lightgray;
    transition: all .5s;
    
}

.box5 img{
    width: 300px;
    height: 300px;
    left: 300px;
    position: relative;
    border-radius: 30%;
    z-index: 2;
  
}

.text5 ul li{
    color:black;
}
.subText5{
     margin-left: 50px;
}
/*-------김채원-----*/

/*------------푸터-------*/
footer{
    border-top: 1px solid black;
}
footer a{
    margin:5px;
    font-size: 14px;
}
footer ::before{
    content: '|';
    margin-left: 30px;
}
footer a:nth-child(1)::before{
    content: "";
}

footer a:hover{
    color: gray
}